body {
    background-color: #000000;
  }
  p{margin:0}
  #three-canvas-container {
    height: 100vh !important;
  }

  .text
  {
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 10px;
  }

  .neon-button {
    
    padding: 2px 2px;
    border: 1px solid rgb(16, 16, 99,0.4); /* Neon blue border color */
    background-color: "#2266cc"; /* Transparent background color */
    border-radius:7px;
  }
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }

  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  
  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .canvas-loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
  