.arrow {
    margin: 5% auto;
    -webkit-animation: 2s soft-blink infinite alternate;
    animation: 2s soft-blink infinite alternate;
    opacity: 0;
}

@-webkit-keyframes soft-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes soft-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}